:root {
  --bg-color: #333;
  --text-color: #ccc;
  --border-color: #aaa;
  --hover-color: #fff;
  --pulsar-timing-function: cubic-bezier(
    0.51,
    1.74,
    0.39,
    -0.8
  );
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
  color: var(--text-color);
  /* font-size: 18px; */

  background-color: var(--bg-color);
}

header,
footer {
  /* min-height: 50px; */
  padding: 10px;
  background-color: rgb(47, 31, 61);
}

header {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 25px;

  border: 2px solid var(--border-color);
  border-radius: 8px;
  /* background-color: transparent; */
  background-color: var(--bg-color);

  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;

  cursor: pointer;
  transition: color 300ms linear, border-color 300ms linear,
    opacity 300ms linear;
  /* visibility: hidden; */
  /* transition: opacity 1000ms var(--pulsar-timing-function); */
  opacity: 1;
}

.button:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.container {
  width: 600px;
  margin-inline: auto;

  /* outline: 1px solid red; */
}

.instructions {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  height: 50px;

  font-size: 20px;

  /* outline: 1px dotted blue; */
}

.field {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 1px;

  width: 302px;
  height: 403px;
  margin-inline: auto;
}

.cell {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  font-size: 36px;
  opacity: 1;

  transition: opacity 1000ms var(--pulsar-timing-function);
}

.hidden {
  /* visibility: hidden; */
  opacity: 0;
  cursor: default;
}
