:root {
  --bg-color: #333;
  --text-color: #ccc;
  --border-color: #aaa;
  --hover-color: #fff;
  --bg-hover-color: #2a2a2a;
  --pulsar-timing-function: cubic-bezier(
    0.51,
    1.74,
    0.39,
    -0.8
  );
  --mobile: 380px;
  --tablet: 768px;
  --desktop: 1440px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
  color: var(--text-color);
  /* font-size: 18px; */

  background-color: var(--bg-color);
}

header,
footer {
  /* min-height: 50px; */
  /* padding: 20px 0px; */
  padding-block: 20px;
  /* background-color: rgb(47, 31, 61); */
  background-color: #30303f;
}

header {
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  /* align-items: ; */
  justify-content: space-between;
}

.lang-wrap {
  display: flex;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
}

.lang-btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  border: none;
  /* border-radius: 8px; */
  padding-inline: 15px;
  cursor: pointer;
  transition: color 300ms linear, border-color 300ms linear,
    background-color 300ms linear, opacity 300ms linear;
}
.lang-btn:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.lang-btn:hover,
.lang-btn:focus,
.lang-btn.active {
  color: var(--hover-color);
  /* border-color: var(--hover-color); */
  background-color: var(--bg-hover-color);
  /* background-color: red; */
  outline: none;
}

.button {
  /* position: absolute; */
  display: inline-block;
  padding: 10px 25px;

  border: 2px solid var(--border-color);
  border-radius: 8px;
  /* background-color: transparent; */
  background-color: var(--bg-color);

  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;

  cursor: pointer;
  transition: color 300ms linear, border-color 300ms linear,
    background-color 300ms linear, opacity 300ms linear;
  /* visibility: hidden; */
  /* transition: opacity 1000ms var(--pulsar-timing-function); */
  opacity: 1;
}

.button:hover,
.button:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
  background-color: var(--bg-hover-color);
  outline: none;
}

@media screen and (max-width: 375px) {
  .container {
    width: 100vw;
  }

  .instructions {
    height: 120px;

    font-size: 16px;
  }

  .field {
    width: 242px;
    height: 323px;
  }
}

@media screen and (min-width: 376px) {
  .container {
    width: 375px;
  }

  .instructions {
    height: 120px;

    font-size: 18px;
  }

  .field {
    width: 242px;
    height: 323px;
  }
}
@media screen and (min-width: 769px) {
  .container {
    width: 600px;
  }

  .instructions {
    height: 120px;

    font-size: 20px;
  }

  .field {
    width: 302px;
    height: 403px;
  }
}

.container {
  /* width: 600px; */
  margin-inline: auto;
  padding-inline: 10px;

  /* outline: 1px solid red; */
}

.main-container {
  position: relative;
}

.next-btn {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.instructions {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  /* height: 80px; */

  /* font-size: 20px; */

  opacity: 1;
  transition: opacity 1000ms linear;
}

.instructions-hiding {
  opacity: 0;
}

.field {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 1px;

  /* width: 302px;
  height: 403px; */
  margin-inline: auto;
}

.cell {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  font-size: 36px;
  opacity: 1;

  cursor: pointer;

  transition: color 300ms linear, border-color 300ms linear,
    opacity 1000ms var(--pulsar-timing-function);
}

.cell:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.hidden {
  /* visibility: hidden; */
  opacity: 0;
  cursor: default;
}
/* transition: */
